<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.wbl.mavenseleniumjava.RestApiTest">
      	<methods>
      		<exclude name="deleteTwitter"></exclude>
      		
      		
      	</methods>
      </class>
      <class name="com.wbl.mavenseleniumjava.SeleniumTest"/>
      <class name="com.wbl.mavenseleniumjava.AppiumTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
